

// CHECKBOX STYLES -------------------------------------------------------------

/* The container */
.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmarker {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 25px;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmarker {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmarker {
  background-color: #2196F3;
}

/* Create the checkmarker/indicator (hidden when not checked) */
.checkmarker:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmarker when checked */
.container-check input:checked ~ .checkmarker:after {
  display: block;
}

/* Style the checkmarker/indicator */
.container-check .checkmarker:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

