/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

// Imports ---------------------------------------------------------------------
@import '../../../styles/_palette.scss';


/*******************************************************************************
* Default |
*********/

.header {
  width: 98%;
  height: 60px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
  padding: 8px 25px 0 15px;
  margin: 1.2% 1%;
  text-align: center;
  background-blend-mode: soft-light;
  background-image: linear-gradient(to right, #0093ea, #0011ed);
  border-radius: 15px;
}

.header_-_logo {
  text-align: left;
  //background-color: gray;
  font-family: 'Rubik', sans-serif;
  color: $palette-white;
  padding-top: 5px;
}

.header_-_create-quiz {
  //background-color: gray;
  margin-top: 0.2%;
  color: $palette-white;
  padding-top: 0.3rem;
  cursor: pointer;
  border-radius: 15px;
  line-height: 0;
  height: 40px;
}

.header_-_create-quiz-icon {
  margin-top: -4px;
  margin-left: -3px;
}

.header_-_search-box {
  //background-color: red;
  padding-top: 3px;

  input[type=text] {
    width: 100%;
    height: 40px;
    border-radius: 25px;
    box-shadow: inset 0px 3px 7px 0 rgba(0, 0, 0, 0.13);
    background-color: #f5f5f5;
    padding-left: 15px;
    font-size: 1.5rem;
  }

  button {
    position: absolute;
    top: 5px;
    right: 18px;
    width: 36px;
    height: 36px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.47);
    background-color: #0057EC;
    color: $palette-white;
    line-height: 0;
  }
}

.header_-_nav-links {
  color: $palette-white;
  //background-color: gray;
  text-align: right;
}

.header_-_nav-link_--_notifications,
.header_-_nav-link_--_user,
.header_-_nav-links_--_menu {
  display: inline-block;
  padding: 0 5%;
}

.header_-_nav-link_--_notifications,
.header_-_nav-link_--_user {
  font-size: 2rem;
  line-height: 2.5rem;
}

.header_-_nav-link_--_notifications {
  //background-color: orange;
}

.header_-_nav-link_--_user {
  //background-color: green;
}

.header_-_nav-links_--_menu {
  //background-color: blue;
  padding: 0;
}

.header_-_nav-links_--_menu--hamburger {
  padding-top: 1rem;
  line-height: 0;

  // Overriding Hamburger mid bar to push right 50%
  span::before {
    right: -50%;
  }

  span:active::before {
    //right: 1%;
    //right: 0;
    //transform: rotate(-45deg) translate3d(-4.285714285714286px,-4.5px,0);
    //opacity: 0;
  }
}





// Animation ----------------------------------------------------------------------
.header_-_create-quiz,
.header_-_create-quiz:hover {
  transition: all 0.1s ease-in-out;
}


.header_-_nav-links_--_menu--hamburger,
.header_-_nav-links_--_menu--hamburger:hover {
  // Overriding Hamburger mid bar to push right 50%
  span::before {
    transition: all 0.1s ease-in-out;
  }
}

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

.header_-_create-quiz:hover {
  color: inherit;
  background-color: white;

  h3 {
    color: #0070EB;
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
  }

  .header_-_create-quiz-icon {
    color: #0070EB;
  }

  //&::after {
  //  content: '';
  //  background-color: blue;
  //}
}

.header_-_nav-links_--_menu--hamburger:hover {
  // Overriding Hamburger mid bar to push right 50%
  span::before {
    right: 0;
  }
}

// Layouts ---------------------------------------------------------------------

// Media Sizes -----------------------------------------------------------------


/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}

