
/**
* Example of property order and category naming convention for comment
********************************************************************************
* .class {
*  //------------------------- Font & Text
*    text-align: val;
*    text-shadow: val;
*  //------------------------- Color & Background
*    background-color: val;
*    color: val;
*    opacity: val;
*  //------------------------- Box
*    height: val;
*    width: val;
*    border-radius: val;
*  //------------------------- Positioning
*    position: absolute;
*    bottom: 0;
*  //------------------------- List
*    property: val;
*  //------------------------- Table
*    property: val;
*  //------------------------- Miscellaneous
*    property: val;
*  //------------------------- Effect
*    property: val;
* }
*/

// Imports ---------------------------------------------------------------------
@import '../../../styles/_palette.scss';

/*******************************************************************************
* Default |
*********/

.create-quiz {
  padding-top: 3%;
}

.create-quiz_-_nav {
  //background-color: blue;
  padding: 0;
  //position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 60%;
    width: 11px;
    height: 100%;
    //transform: translateX(-60%);
    //background-color: #eeeeee;
    background-color: #E0E0E0;
    z-index: -1;
    opacity: 0.5;
    //box-shadow: inset 0 3px 7px 0 rgba(0, 0, 0, 0.13);
  }
}

.create-quiz_-_nav_--_step-1,
.create-quiz_-_nav_--_step-2,
.create-quiz_-_nav_--_step-3 {
  position: absolute;
  background-color: gray;
  height: 95px;
  width: 95px;
  border-radius: 100px;
  //margin: 75px 0;
  box-shadow: inset 0 3px 7px 0 rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  text-align: center;
  padding-top: 2.1rem;
}

.create-quiz_-_nav_--_step-1 {
  //margin-top: 0;
  top: 0;
}

.create-quiz_-_nav_--_step-2 {
  //margin-bottom: 0 !important;
  top: 50%;
  transform: translateY(-50%);
}

.create-quiz_-_nav_--_step-3 {
  //margin-bottom: 0 !important;
  bottom: 0;
}


.create-quiz_-_forms {
  //height: 540px;
  //height: 650px;
  border-radius: 25px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.30);
  background-color: #ffffff;
  text-align: center;
  padding: 15px 30px;
}

.create-quiz_-_forms form {
  padding-top: 20px;
  //background-color: gray;

  input[type=text],
  select {
    width: 100%;
    height: 45px;
    border-radius: 22.5px;
    border: solid 3px #eeeeee;
    background-color: #fff;
    margin: 15px 0;
  }


  input[type=text] {
    padding: 15px;

    &::placeholder {
      color: #9E9E9E;
    }
  }

  select {
    padding-left: 10px;
    //position: relative;
  }
}

.create-quiz_-_forms_--_select,
.create-quiz_-_forms_--_select-half {
  //background-color: blue;
  position: relative;

  &::after {
    content:' \2038';
    background-color: #eee;
    height: 37px;
    width: 37px;
    position: absolute;
    top: 19px;
    right: 6px;
    border-radius: 25px;
    transform: rotate(180deg);
    font-size: 2.3rem;
    line-height: 0;
    color: #212121;
    pointer-events: inherit;
    cursor:pointer;
  }
}

.create-quiz_-_forms_--_select-half {
  width: 48%;
  display: inline-block;

  //&:nth-child(1) {
  //  background-color: brown;
  //
  //  margin-right: 2.5%;
  //}

  &:nth-child(2) {
    //background-color: blue;
    margin-right: 4%;
  }
}



.create-quiz_-_forms_--_input-file {
  //background-color: blue;
  border-radius: 15px;
  height: 280px;
  text-align: left;
  padding: 10px;
  border: solid 3px #eeeeee;
  margin-top: 15px;
  //background-color: #fff;
  position: relative;


  //input[type=file] {
  //  position: absolute;
  //  text-align: center;
  //  background-color: brown;
  //}
  h6 {
    display: inline-block;
    //background-color: red;
  }
}

.create-quiz_-_forms_--_input-file-url-local {
  //background-color: blue;
  height: 100px;
  width: 100px;
  display: inline;
  text-align: right;
  margin-left: 100px;
}

.create-quiz_-_forms_--_input-file-btn {
  overflow: hidden;
  //position: relative;
  display: inline-block;
  //height: 100px;
  //width: 100px;
  //background-color: green;
  text-align: center;
  position: absolute;
  //margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #BDBDBD;


  input[type=file] {
    //background-color: brown;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    font-size: 100px;
  }

  // Setting the cursor pointer
  input[type=file], /* FF, IE7+, chrome (except button) */
  input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer;
  }
}

.create-quiz_-_forms_--_input-file-btn_icon {
  color: #BDBDBD;
  //background-color: yellow;
  font-size: 6rem;
}


.create-quiz_-_forms_--_save-next {
  //background-color: gray;
  text-align: right;
  margin: 1rem 0;

  button {
    height: 50px;
    width: 120px;
    font-size: 1.2rem;
    //padding: 1rem;
    margin-left: 1rem;
    border-radius: 35px;
    color: white;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.30);

  }

  button:first-child {
    background-color: #43a047;
  }

  button:nth-child(2) {
    background-color: $palette-blue;
  }
  //height: 100px;
  //position: relative;
  //width: 100%;
}

.create-quiz_-_forms_--_save-next-icon,
.create-quiz_-_forms_--_submit-icon {
  font-size: 1.5rem;
}

.create-quiz_-_forms_--_submit-icon {
  margin-left: 5px;
  margin-bottom: 4px;
}


.create-quiz_-_view {
  //background-color: gray;
  height: inherit;
  width: inherit;
}


.create-quiz_-_view_--_card {
  position: absolute;
  //background-color: blue;
  top: 50%;
  width: inherit;
  transform: translateY(-50%) scale(1.3);
}

.create-quiz_-_forms_--_switch {
  display: inline-block;
  margin: 3% 0;
  //background-color: brown;
  text-align: left;
}

.create-quiz_-_forms_--_switch-txt {
  //background-color: red;
  width: 80%;
  display:inline-block;
  //text-align: left;

}

.create-quiz_-_forms_--_switch-btn {
  display: inline-block;
  //background-color: red;
  text-align: right;
  width: 20%;
  padding-bottom: 3%;
}



// CSSTRANSITIONS Component ----------------------------------------------------
/* appear - on page load */
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

/* enter */
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 5000ms linear 5000ms;
}

/* exit */
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 5000ms linear;
}
.fade-exit-done {
  opacity: 0;
}

// SLIDE

/* slide enter */
.slide-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  z-index: 1;
}
.slide-enter.slide-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms;
}

/* slide exit */
.slide-exit {
  opacity: 1;
  transform: scale(1) translateY(0);

}
.slide-exit.slide-exit-active {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  transition: opacity 1500ms linear, transform 1500ms ease-out;
}
.slide-exit-done {
  opacity: 0;
}






// Special Classes -------------------------------------------------------------
.active {
  background-color: #0991ea;
  color: white;
}

// Animation ----------------------------------------------------------------------

.create-quiz_-_forms {
  transition: all 3s ease-in-out;
}

.create-quiz_-_nav_--_step-1,
.create-quiz_-_nav_--_step-2,
.create-quiz_-_nav_--_step-3 {
  transition: all 0.3s ease-in-out;
}

// Active ----------------------------------------------------------------------

// Hover -----------------------------------------------------------------------

// Layouts ---------------------------------------------------------------------

// Media Sizes -----------------------------------------------------------------


/*******************************************************************************
* XS |
****/

//@include mq('xs') {
//
//}


/*******************************************************************************
* SM |
****/

//@include mq('sm') {
//
//}


/*******************************************************************************
* MD |
****/

//@include mq('md') {
//
//}


/*******************************************************************************
* LG |
****/

//@include mq('lg') {
//
//}

