

//$body-background: #F5F5F5;
//$body-background: #EEEEEE;
//$body-background: #E0E0E0;

//$palette-shady-white: #F5F5F5;
$palette-shady-white: #EEE;
$palette-white: #FFF;
$palette-black: #212121;
$palette-blue: #0091EA;
